/*
    Paleta de col-smores de google
    Azul: #4285f4
    Verde: #34a853
    Amarillo: #fbbc05
    Rojo: #ea4335
*/
polygon.triangle {
    fill: transparent;
    stroke: #4285f4;
    stroke-width: 2px;
}
circle.mediana {
    fill: #ea4335;
}
